<div class="app-container">
    <!-- Header -->
    <header class="header">
      <div class="logo">
        <img
          src="https://media.licdn.com/dms/image/v2/D560BAQEdDXUwAZKsGg/company-logo_100_100/company-logo_100_100/0/1735565244488/menti_by_logo?e=1745452800&v=beta&t=gmxxa7Gk0PqhXwkAmVwR9S5eYMMc3pBVqwsLAAJCMH4"
          alt="Mentiby Logo"
          class="logo-image"
        />
        <h1 class="app-title">Mentiby Maps</h1>
      </div>
      <div class="auth">
        <button class="login-button" (click)="toggletoLogin()">Login</button>
        <button class="signup-button" (click)="toggletoSignUp()">Sign-Up</button>
        
      </div>
  
    </header>
  
    <!-- Main Content -->
    <main class="main-content">
      <div class="content-wrapper">
        <div class="map-preview">
          <img
            src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg"
            alt="Map Preview"
            class="map-image"
          />
        </div>
        <p class="welcome-message">
          Discover geographic insights and analytics with <strong>Mentiby Maps</strong>. 
          Login to explore more features.
        </p>
      </div>
    </main>
  
    <!-- Footer -->
    <footer class="footer">
      <p>&copy; 2025 Mentiby Maps. All Rights Reserved.</p>
    </footer>
  </div>
  